html,
body {
	height: 100vh;
	border: 0;
}

.tabulator {
	.tabulator-col-title {
		text-align: 'center';
	}
}

.header {
	-webkit-box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.35);
}

.cheap {
	background-color: rgb(158, 226, 158);
}

.expensive {
	background-color: rgb(245, 194, 175);
}

.normal {
	background-color: RGB(192, 227, 235);
}

table {
	border-collapse: collapse;
}