html,
body {
	height: 100%;
	border: 0;
}

.tabulator {
	.tabulator-col-title {
		text-align: 'center';
	}
}

.header {
	-webkit-box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.35);
}

table {
	max-width: 800px;
	margin: auto;
}

th {
	padding: 5px;
	position: sticky;
	top: 0;
	background-color: white;
}

td {
	padding: 10px;
	text-align: center
}